# Mac OS X dumps these all over the place.
.DS_Store

# Ignore the /vendor/ directory and composer.lock.
/vendor/
composer.lock
composer.json

/CNTest/
/assets/
/.github/
/email/

.env
.php
api.php
mail.php
newsletter.php
submit.php
email/mail.php
email/newsletter.php
email/submit.php

contact.html